.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filePickerContainer {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 20px;

  & > span {
    margin: auto 0;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 10px;
}

.content {
  padding: 0 20px;
}

.filePicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  button span {
    display: none;
  }
}

.controls {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.currentTime {
  font-size: 20px;
  color: #555;
}

.footer {
  margin-top: 10px;
  display: flex;
}

.tools {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.trackContainer {
  position: relative;
}

.debug {
  text-align: center;
}