.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 10px;
}

.content {
  padding: 0 20px;
}

.filePicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.controls {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.tools {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.trackContainer {
  position: relative;
  height: 100px;
}

.downloadButton {
  
}