.controls {
    display: flex;
}

.volumeSlider {
    :global(.rc-slider-handle) {
        cursor: pointer;
      }
}

.trackContainer {
    position: relative;
    height: 100px;
}

.rangeSlider {
    position: absolute;
    // height: 100%;
    margin-top: 0;

    :global(.rc-slider-rail) {
        display: none;
    }

    :global(.rc-slider-track) {
        top: 0;
        z-index: 1;
        height: 100px;
        border-radius: 0;
        opacity: 0.3;
    }

    :global(.rc-slider-handle) {
        cursor: ew-resize;
        border: none;
        width: 10px;
        background-color: transparent;
        height: 100px;
        border-radius: 0;
        box-shadow: none !important
    }
    
    :global(.rc-slider-handle)::after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: orange;
        margin: 0 auto;
        display: block;
    }
}